#invitepeople{
    background-color: #ffffff;
    width: 700px;
    padding: 1rem 0;
    .invitetit{
        height: 4rem;
        line-height: 4rem;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
        position: relative;
        .back{
            font-size: 1.6rem;
            position: absolute;
            left: 2rem;
            top: 1.3rem;
            cursor: pointer;
        }
        .close{
            font-size: 1.6rem;
            position: absolute;
            right: 2rem;
            top: 1.3rem;
            cursor: pointer;
        }
    }
    .projectall{
        height: 3rem;
        line-height: 3rem;
        width: 85%;
        margin-left: 9%;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
    }
    .projectree{
        width: 85%;
        margin-left: 9%;
        height: 18rem;
        overflow-y: auto;
    }
    .projectbot{
        width: 90%;
        margin-left: 7%;
        height: 4rem;
        line-height: 4rem;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        .choose{
            color: #638df9;
            cursor: pointer;
        }
        .projectbtn{
            span{
                &:nth-child(1){
                    color: #999999;
                    cursor: pointer;
                }
                &:nth-child(2){
                    height: 2.6rem;
                    line-height: 2.6rem;
                    padding: 0 2.5rem;
                    display: inline-block;
                    background-color: #638df9;
                    color: #ffffff;
                    border-radius: 0.3rem;
                    cursor: pointer;
                    margin-left: 2rem;
                }
            }
        }
    }
}