*{
  padding: 0;
  margin: 0;
}

html,body{
  height: 100%;
}
.content{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
}
input,textarea{
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.28rem;
}
input::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc;
}
textarea::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc;
}

.masklayer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  text-indent: 3000px;
  overflow: hidden;
  background: rgba(0,0,0,0.1);
}

/*隐藏滚轮*/
::-webkit-scrollbar {
  display: none;
}
