#tenant{
    .newtenant{
        height: 2.4rem;
        line-height: 2.4rem;
        display: flex;
        justify-content: flex-end;
        width: 60%;
        margin-left: 20%;
        margin-top: 1rem;
        div{
            background-color: #3154c4;
            color: #ffffff;
            border-radius: 0.2rem;
            padding: 0 1rem;
            cursor: pointer;
        }
    }
    .rolecont{
        width: 70%;
        margin: 1rem 15%;
        background-color: #ffffff;
        .page{
            padding: 2rem 0;
        }
    }
    .usercheck{
        height: 2rem;
        line-height: 2rem;
    }
    .usertit{
        line-height: 2rem;
        margin-top: 1rem;
    }
    .userint{
        height: 2.4rem;
        line-height: 2.4rem;
        background-color: #f5f5f5;
        border-radius: 0.3rem;
        text-indent: 0.5rem;
        input{
            width: 95%;
            text-indent: 0.5rem;
        }
    }
}
